*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #4a75cb;
    
}
.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-color: 2px solid #4a75cb;
	

}
.box{
	background-color: #f8f9fc;
	width: auto;
	margin-left: 35%;
	margin-right: 35%;
	

}

.calculator{
	background: color #d5e2ec;
	padding: 15px;
	border-radius: 30px;
	box-shadow: inset 5px 5px 12px #fff,5px 5px 12px rgba(0, 0, 0, 0.14) ; 
	display: grid;
	grid-template-columns: repeat(4,70px);
}
input{
	grid-column: span 4;
	width: 260px;
	height: 70px;
	background-color: #ecf0f3;
	border: none;
	box-shadow: inset -5px -5px 12px #fff, inset 5px 5px 12px rgba(0, 0, 0, 0.14) ; 
	border-radius: 30px;
	outline: none;
	font-size: 35px;
	text-align: end;
	margin: 40px auto;
	padding-right: 10px;

}
input::placeholder{
	color: #4a75cb;
}
button{
	width: 48px;
    height: 48px;
	background-color: #ecf0f3;
	box-shadow:  -5px -5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.14) ; 
	border-radius: 50%;
	border: none;
	margin: 8px auto;

}
.equal{
	width: 100px;
	border-radius: 60px;
	margin:8px 8px 8px 18px;
	background-color:#b6ccf9 ;
}